.sgpa,
.credit {
  width: 310px;
  text-align: center;
}
.calc_wrapper {
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  background: #e9f6f6;
  box-shadow: 1px 2px 5px #514f4f;
}
.sgpa {
  float: left;
  margin-right: 10px;
}

#resultbox {
  position: absolute;
  top: 40%;
  font-size: 42px;
  margin-left: 40px;
}

.box1 {
  border: 1px solid rgb(7, 205, 255);
}

.box2 {
  border: 1px solid rgb(5, 255, 88);
}

.box1,
.box2 {
  border-radius: 5px;
}
.studentask {
  margin-left: 5px;
  font-size: 11px;
  color: #8c8c8c;
}
.cal_btn {
  background: linear-gradient(to right, #67b26b, #4ca2cb) !important;
  color: white;
}
